
#titulo {
    text-align: center;
    font-family:sans-serif ;
    background-color: black;
    color: white;
    height: 100px;
    width: 100%;
    margin-bottom: 30px;
}

table {
    background-color: gray;
}

td {
    height: 60px;
    width: 60px;
    text-align-last: center;
    font-weight: bolder;
}

#bg {
    background-color: gray;
}

#secundarios {
    margin-top: 30px;
}

.verdes {
    background-color: lawngreen;
    border: solid;
}

.laranjas {
    background-color: orange;
    border: solid;
}

.amarelas {
    background-color: yellow;
    border: solid;
}

.rosas {
    background-color: rgb(247, 27, 247);
    border: solid;
}

.azul {
    background-color: rgb(0, 119, 255);
    border: solid;
}

.azul-2 {
    background-color: rgb(73, 124, 202);
    border: solid;
}

.verde-2 {
    background-color: #5AE692;
    border: solid;
}

.azul-3 {
    background-color: rgb(144, 242, 255);
    border: solid;
}

.azul-4 {
    background-color: rgba(0, 195, 255, 0.966);
    border: solid;
}

.roxo {
    background-color: rgb(178, 88, 252);
    border: solid;
}
